#sign-up {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 50px;
}

.text-style {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #373F41;
}

.link-style {
  font-weight: 900;
  color: #6c757d !important;
  font-size: 14px;
  line-height: 18px;
}
