#span-style-1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 37px;
  margin-left: 1.3em;
}

#span-style-2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 30px;
  margin-left: 1.6em;
}

.span-style-3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 30px;
  margin-left: 1.6em;
}

#dashboard-style {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.96em;
  line-height: 27px;
  margin-left: 48.5em;
  margin-top: 6em;
}

.span-style-4 {
  font-family: Roboto, sans-serif;
}

#playlist-style-1{
  position: absolute;
  width: 163.77px;
  height: 67px;
  left: 132.6px;
  top: 54px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #333333;

}
