<div class="container">
  <div class="row" style="margin-top: 5em;">
    <h3 style="margin-left: 12em;">Browse and manage your Playlists..</h3>
  </div>
  <div class="row" style="margin-top: 4em;">
    <div class="col mx-auto">
      <label class="span-style-4">
        <input type="checkbox"> Select all
      </label>
      <div style="float: right" class="span-style-4">2 Selected</div>
    </div>
    <div class="col-2 mx-auto">
      <div class="">
        <label for="exampleFormControlSelect1" class="text-center span-style-4"></label>
        <select id="exampleFormControlSelect1">
          <option disabled selected hidden>Actions</option>
          <option>Delete</option>
          <option>Transfer</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <app-dashboard-item></app-dashboard-item>
</div>
